#sidebar {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    bottom: 0;
    width: 224px;
    vertical-align: top;
    background: rgb(251, 251, 251);
}

#splitter {
    left: 224px;
    border-left: 1px solid rgb(186, 186, 186);
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0;
    bottom: 0;
    width: 11px;
    box-shadow: -3px 0 5px #c7c7c7;
}

#content {
    position: absolute;
    left: 235px;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0 20px 0 11px;
    padding-bottom: 20px;
}

#popup-app {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Grande', sans-serif;
    padding: 16px 0 20px 24px;
    color: rgb(111, 102, 102);
}

#settings {
    padding: 0 0 20px 60px;
}

#settings ul {
    padding: 0;
}

#settings .settings-item {
    cursor: pointer;
    list-style-type: none;
    font-family: 'Lucida Grande', sans-serif;
    padding: 0 0 18px 4px;
    font-size: 13px;
    color: rgb(97, 94, 94);
}

#content-title {
    font-family: 'Lucida Grande', sans-serif;
    padding: 20px 0 12px 20px;
    border-bottom: 1px solid #ddd;
}

.content-block {
    font-family: 'Lucida Grande', sans-serif;
    padding: 20px 0 0 20px;
    font-size: 12px;
}

.content-block .content-block-title {
    font-size: 14px;
    padding-bottom: 12px;
}

.content-item {
    padding: 0 0 4px 8px;
}

.content-item .item-prefix {
    display: inline-block;
    width: 96px;
}

.content-item .item-prefix + input {
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    box-sizing: border-box;
    color: #444;
    font: inherit;
    margin: 0;
    min-height: 2em;
}
.content-item .item-shortcuts {
    display: inline-block;
    width: 176px;
}

.button {
    font-family: 'Lucida Grande', sans-serif;
    border: 1px solid #d5d5d5;
    width: 60px;
    height: 24px;
    border-radius: 3px;
    font-weight: bold;
    background: #e4e4e4;

}
.button:hover {
    background: #3b3b3b;
    cursor: pointer;
    color: #ffffff;
}
.button:focus {
    outline: none;
}
.button:active {
    background: red;
}
input:focus {
    outline: none;
}

#reset {
    width: 100px;
}

#content-tail {
    font-family: 'Lucida Grande', sans-serif;
    margin: 20px;
}